version: "3.9"

services:
  haproxy:
    build:
      context: ./haproxy
    hostname: haproxy
{% if haproxy_published_ports | default([]) | length > 1 %}
    ports: {{ haproxy_published_ports }}
{% endif %}
    volumes: {{ [ haproxy_config_dir + '/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg' ] + haproxy_volumes }}
    user: "{{ haproxy_user_id }}:{{ haproxy_group_id }}"
{% if haproxy_environment | default([]) | length > 0 %}
    environment: {{ haproxy_environment }}
{% endif %}
    labels:
      haproxy.config.md5sum: "{{ haproxy_config_stat.stat.checksum }}"
    deploy:
      restart_policy:
        condition: "{{ haproxy_restart_condition }}"
        delay: 10s
{% if haproxy_external_networks | default([]) | length > 0 %}
    networks:
{% for network in haproxy_external_networks %}
      {{ network }}:
{% endfor %}
{% endif %}

{% if haproxy_external_networks | default([]) | length > 0 %}
networks:
{% for network in haproxy_external_networks %}
  {{ network }}:
    external: true
{% endfor %}
{% endif %}
